{% extends 'base.html' %} {% block content %}

<h1>Galleries List</h1>

{% for gallery in galleries %}

<div class="row">
  <div class="col s12 m6">
    <div class="card blue accent-2">
      <div class="card-content white-text">
        <span class="card-title">{{ gallery.name }}</span>
        <p>Location: {{ gallery.location }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'galleries_detail' gallery.id %}">MORE INFO</a>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
